@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new Client to the List!</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.ClientName)
  @Html.TextBoxFor(model => model.ClientName, new {required = "required"})
  @Html.LabelFor(model => model.ClientDescription)
  @Html.TextBoxFor(model => model.ClientDescription)

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId", null, new {required = "required"})

  <input type="submit" value="Add New Client" class="btn btn-dark" />
}

  @Html.ActionLink("Show all Clients", "Index")

  @Html.ActionLink("Home", "Index")