@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Details for @Html.DisplayFor(model => model.ClientName)</h2>
<h4>Stylist:</h4>
<h6>@Html.DisplayFor(model => model.Stylist.StylistName)</h6>
<h4>Preferences/Special Requests:</h4>
<h6>@Html.DisplayFor(model => model.ClientDescription)</h6>

<p>@Html.ActionLink("Edit Client", "Edit", new {id = Model.ClientId})</p>

<p>@Html.ActionLink("Delete Client", "Delete", new {id = Model.ClientId})</p>

<p>@Html.ActionLink("View all Clients", "Index")</p>